version: '3'

services:
  ssp:
    image: ${REGISTRY}/ssp:${IMAGE_TAG}
    depends_on:
      - backend
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    logging:
      options:
        max-size: "100m"
        max-file: "5"
