version: '3'

services:
  ssp:
    image: ${REGISTRY}/ssp:${IMAGE_TAG}
    depends_on:
      - backend
    volumes:
      - shared:/mnt/shared
    logging:
      options:
        max-size: "100m"
        max-file: "5"
